//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Card
//  15. Close Button
//  16. Drilldown
//  17. Dropdown
//  18. Dropdown Menu
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Responsive Embed
//  29. Reveal
//  30. Slider
//  31. Switch
//  32. Table
//  33. Tabs
//  34. Thumbnail
//  35. Title Bar
//  36. Tooltip
//  37. Top Bar

@import '../util/util';
@import '../global';

// Custom variables

$px-tn: 5px; // tiny
$px-sm: 10px; // small
$px-mn: 15px; // mini
$px-md: 20px; // midi
$px-mx: 25px; // maxi
$px-lg: 30px; // large
$px-xl: 40px; // xlarge
$px-xxl: 60px; // xxlarge
$px-hg: 80px; // huge
$px-gn: 100px; // giant

$rem-tn: rem-calc($px-tn);
$rem-sm: rem-calc($px-sm);
$rem-mn: rem-calc($px-mn);
$rem-md: rem-calc($px-md);
$rem-mx: rem-calc($px-mx);
$rem-lg: rem-calc($px-lg);
$rem-xl: rem-calc($px-xl);
$rem-xxl: rem-calc($px-xxl);
$rem-hg: rem-calc($px-hg);
$rem-gn: rem-calc($px-gn);

$fs-tn: rem-calc(11);
$fs-sm: rem-calc(12);
$fs-mn: rem-calc(13);
$fs-md: rem-calc(14);
$fs-base: rem-calc(15);
$fs-mx: rem-calc(18);
$fs-lg: rem-calc(20);
$fs-xl: rem-calc(24);
$fs-xxl: rem-calc(28);
$fs-hg: rem-calc(32);

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5em;
$lightest-gray: #f7f8fb;
$lighter-gray: #f5f0e9;
$light-gray: #efeff1;
$blue-light-gray: #f8f9fe;
$medium-gray: #666767;
$medium-dark-gray: #828282;
$medium-light-gray: #b2b3b3;
$dark-gray: #4d4d4d;
$darker-gray: #333;
$darkest-gray: #040000;
$original-gray: #f0f2f7;
$black: black;
$white: white;
$indica: #930d6e;
$sativa: #ed6910;
$warning: #f2ce08;
$alert: #ed6910;
$danger: #cc4b37;
$success: #97b045;
$primary: #0a78b3;
$secondary: #61c0e0;
$darkest-primary: #343e5c;
$purple: #930d6e;
$green: #76cece;
$light-green: #a0ce67;
$dark-green: #0cab9d;
$tooltip-bg: $lighter-gray;
$tooltip-text: $darker-gray;
$coral: #e86f63;
$light-yellow: #F2C577;
$medium-yellow: #E8B660;
$light-coral: #EF9D78;
$medium-coral: #EA7652;
$light-blue: #76CECE;
$medium-blue: #5BA2B5;
$foundation-palette: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  alert: $alert,
  light: $light-gray,
  dark: $darker-gray,
  light-green: $light-green,
  coral: $coral,
  medium-gray: $medium-gray
);
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Gilroy', 'Azo Sans', Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: rem-calc(5);
$global-radius-large: rem-calc(21);
$round-radius: 9999px;
$global-text-direction: ltr;
$global-flexbox: true;
$print-transparent-backgrounds: true;

@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large);

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (small: 20px, medium: 30px);
$grid-column-align-edge: true;
$block-grid-max: 8;

// 4. Base Typography
// ------------------

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-normal;
$header-font-style: normal;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace;
$header-color: inherit;
$header-lineheight: 1.25;
$header-margin-bottom: 0.75rem;
$header-styles: (
  small:
    (
      'h1': ('font-size': 32),
      'h2': ('font-size': 27),
      'h3': ('font-size': 23),
      'h4': ('font-size': 19),
      'h5': ('font-size': 18),
      'h6': ('font-size': 18)
    ),
  medium:
    (
      'h1': ('font-size': 48),
      'h2': ('font-size': 36),
      'h3': ('font-size': 30),
      'h4': ('font-size': 24),
      'h5': ('font-size': 20),
      'h6': ('font-size': 18)
    )
);
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;
$paragraph-lineheight: 1.6;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: underline;
$anchor-text-decoration-hover: none;
$hr-width: $global-width;
$hr-border: 1px solid $light-gray;
$hr-margin: rem-calc(20) auto;
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$cite-pseudo-content: '\2014 \0020';
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// 5. Typography Helpers
// ---------------------

$lead-font-size: $global-font-size * 1.25;
$lead-lineheight: 1.6;
$subheader-lineheight: 1.4;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-weight-normal;
$subheader-margin-top: 0.2rem;
$subheader-margin-bottom: 0.5rem;
$stat-font-size: 2.5rem;

// 6. Abide
// --------

$abide-inputs: true;
$abide-labels: true;
$input-background-invalid: $danger;
$form-label-color-invalid: $danger;
$input-error-color: $danger;
$input-error-font-size: $fs-mn;
$input-error-font-weight: $global-weight-bold;

// 7. Accordion
// ------------

$accordion-background: $white;
$accordion-plusminus: true;
$accordion-title-font-size: rem-calc(12);
$accordion-item-color: $primary-color;
$accordion-item-background-hover: $light-gray;
$accordion-item-padding: 1.25rem 1rem;
$accordion-content-background: $white;
$accordion-content-border: 1px solid $light-gray;
$accordion-content-color: $body-font-color;
$accordion-content-padding: 1rem;

// 8. Accordion Menu
// -----------------

$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $primary-color;
$accordionmenu-arrow-size: 6px;

// 9. Badge
// --------

$badge-background: $primary-color;
$badge-color: $white;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;
$badge-padding: 0.3em;
$badge-minwidth: 2.1em;
$badge-font-size: 0.6rem;

// 10. Breadcrumbs
// ---------------

$breadcrumbs-margin: 0 0 $global-margin 0;
$breadcrumbs-item-font-size: rem-calc(11);
$breadcrumbs-item-color: $primary-color;
$breadcrumbs-item-color-current: $black;
$breadcrumbs-item-color-disabled: $medium-gray;
$breadcrumbs-item-margin: 0.75rem;
$breadcrumbs-item-uppercase: true;
$breadcrumbs-item-slash: true;

// 11. Button
// ----------

$button-margin: 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-color: $white;
$button-color-alt: $black;
$button-radius: $round-radius;
$button-sizes: (
  small: (font-size: $fs-base, padding: rem-calc(9) $rem-xl),
  default: (font-size: $fs-base, padding: rem-calc(17) $rem-xl)
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.25;
$button-background-hover-lightness: -20%;
$button-hollow-hover-lightness: -50%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;

// 12. Button Group
// ----------------

$buttongroup-margin: 0;
$buttongroup-spacing: 1px;
$buttongroup-child-selector: '.button';
$buttongroup-expand-max: 6;
$buttongroup-radius-on-each: true;

// 13. Callout
// -----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-border: 1px solid rgba($black, 0.25);
$callout-margin: 0 0 1rem 0;
$callout-padding: 1rem;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;
$callout-radius: $global-radius;
$callout-link-tint: 30%;

// 14. Card
// --------

$card-background: $white;
$card-font-color: $body-font-color;
$card-divider-background: $light-gray;
$card-border: 1px solid $light-gray;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin: $global-margin;

// 15. Close Button
// ----------------

$closebutton-position: right top;
$closebutton-offset-horizontal: (small: 0.66rem, medium: 1rem);
$closebutton-offset-vertical: (small: 0.33em, medium: 0.5rem);
$closebutton-size: (small: 1.5em, medium: 2em);
$closebutton-lineheight: 1;
$closebutton-color: $dark-gray;
$closebutton-color-hover: $black;

// 16. Drilldown
// -------------

$drilldown-transition: transform 0.15s linear;
$drilldown-arrows: true;
$drilldown-arrow-color: $primary-color;
$drilldown-arrow-size: 6px;
$drilldown-background: $white;

// 17. Dropdown
// ------------

$dropdown-padding: 0;
$dropdown-background: $body-background;
$dropdown-border: 1px solid $light-gray;
$dropdown-font-size: $fs-md;
$dropdown-width: 100px;
$dropdown-radius: $global-radius;
$dropdown-sizes: (tiny: 100px, small: 200px, large: 400px);

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: $white;
$dropdownmenu-border: 1px solid $medium-gray;

// 19. Forms
// ---------

$fieldset-border: 1px solid $medium-gray;
$fieldset-padding: rem-calc(20);
$fieldset-margin: rem-calc(18 0);
$legend-padding: rem-calc(0 3);
$form-spacing: rem-calc(16);
$helptext-color: $black;
$helptext-font-size: rem-calc(13);
$helptext-font-style: italic;
$input-prefix-color: $black;
$input-prefix-background: $light-gray;
$input-prefix-border: 1px solid $medium-gray;
$input-prefix-padding: 1rem;
$form-label-color: $black;
$form-label-font-size: rem-calc(14);
$form-label-font-weight: $global-weight-normal;
$form-label-line-height: 1.8;
$select-background: $white;
$select-triangle-color: $dark-gray;
$select-radius: $global-radius;
$input-color: $black;
$input-placeholder-color: $darker-gray;
$input-font-family: inherit;
$input-font-size: $fs-base;
$input-font-weight: $global-weight-normal;
$input-background: $white;
$input-background-focus: $white;
$input-background-disabled: $light-gray;
$input-border: 1px solid $white;
$zf-input-border-focus: 1px solid $secondary-color;
$input-shadow: 0 10px 25px rgba(58, 64, 91, 0.15);
$input-shadow-focus: 0 0 5px $medium-gray;
$input-cursor-disabled: not-allowed;
$input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
$input-number-spinners: true;
$input-radius: 4px;
$form-button-radius: $global-radius;

// 20. Label
// ---------

$label-background: $primary-color;
$label-color: $white;
$label-color-alt: $black;
$label-palette: (
  danger: $danger,
  purple: $purple,
  success: $success,
  warning: $warning,
  gray: $light-gray
);
$label-font-size: $fs-tn;
$label-padding: rem-calc(7) rem-calc(8);
$label-radius: $global-radius;

// 21. Media Object
// ----------------

$mediaobject-margin-bottom: $global-margin;
$mediaobject-section-padding: $global-padding;
$mediaobject-image-width-stacked: 100%;

// 22. Menu
// --------

$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-item-padding: 0.7rem 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: get-color(primary);
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: $light-gray;
$menu-border: $light-gray;

// 23. Meter
// ---------

$meter-height: 1rem;
$meter-radius: $global-radius;
$meter-background: $medium-gray;
$meter-fill-good: $success-color;
$meter-fill-medium: $warning-color;
$meter-fill-bad: $alert-color;

// 24. Off-canvas
// --------------

$offcanvas-size: 250px;
$offcanvas-vertical-size: 250px;
$offcanvas-background: $light-gray;
$offcanvas-shadow: 0 0 10px rgba($black, 0.7);
$offcanvas-push-zindex: 1;
$offcanvas-overlap-zindex: 10;
$offcanvas-reveal-zindex: 1;
$offcanvas-transition-length: 0.5s;
$offcanvas-transition-timing: ease;
$offcanvas-fixed-reveal: true;
$offcanvas-exit-background: rgba($white, 0.25);
$maincontent-class: 'off-canvas-content';

// 25. Orbit
// ---------

$orbit-bullet-background: $medium-gray;
$orbit-bullet-background-active: $dark-gray;
$orbit-bullet-diameter: 1.2rem;
$orbit-bullet-margin: 0.1rem;
$orbit-bullet-margin-top: 0.8rem;
$orbit-bullet-margin-bottom: 0.8rem;
$orbit-caption-background: rgba($black, 0.5);
$orbit-caption-padding: 1rem;
$orbit-control-background-hover: rgba($black, 0.5);
$orbit-control-padding: 1rem;
$orbit-control-zindex: 10;

// 26. Pagination
// --------------

$pagination-font-size: $fs-sm;
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(0 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $black;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-mobile-items: false;
$pagination-mobile-current-item: false;
$pagination-arrows: false;

// 27. Progress Bar
// ----------------

$progress-height: rem-calc(6);
$progress-background: $lighter-gray;
$progress-margin-bottom: 0;
$progress-meter-background: $secondary-color;
$progress-radius: $global-radius;

// 28. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: rem-calc(16);
$responsive-embed-ratios: (default: 4 by 3, widescreen: 16 by 9);

// 29. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: $global-padding;
$reveal-border: 1px solid $medium-gray;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, 0.45);

// 30. Slider
// ----------

$slider-width-vertical: 0.5rem;
$slider-transition: all 0.2s ease-in-out;
$slider-height: 0.5rem;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;
$slider-handle-height: 1.4rem;
$slider-handle-width: 1.4rem;
$slider-handle-background: $primary-color;
$slider-opacity-disabled: 0.25;
$slider-radius: $global-radius;

// 31. Switch
// ----------

$switch-background: $medium-gray;
$switch-background-active: $primary-color;
$switch-height: 2rem;
$switch-height-tiny: 1.5rem;
$switch-height-small: 1.75rem;
$switch-height-large: 2.5rem;
$switch-radius: $global-radius;
$switch-margin: $global-margin;
$switch-paddle-background: $white;
$switch-paddle-offset: 0.25rem;
$switch-paddle-radius: $global-radius;
$switch-paddle-transition: all 0.25s ease-out;

// 32. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid $light-gray;
$table-padding: rem-calc(8 10 10);
$table-spacious-padding: $rem-md;
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken(
  $table-background,
  $table-color-scale + $table-hover-scale
);
$table-is-striped: false;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: $white;
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $body-font-color;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;

// 34. Thumbnail
// -------------

$thumbnail-border: solid 4px $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;

// 35. Title Bar
// -------------

$titlebar-background: $black;
$titlebar-color: $white;
$titlebar-padding: 0.5rem;
$titlebar-text-font-weight: bold;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
$titlebar-icon-spacing: 0.25rem;

// 36. Tooltip
// -----------

$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $tooltip-bg;
$tooltip-color: $tooltip-text;
$tooltip-padding: 0.825rem $rem-md;
$tooltip-font-size: $fs-tn;
$tooltip-pip-width: rem-calc(8);
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;

// 37. Top Bar
// -----------

$topbar-padding: 0.5rem;
$topbar-background: $light-gray;
$topbar-submenu-background: $topbar-background;
$topbar-title-spacing: 0.5rem 1rem 0.5rem 0;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;

// react-dd-menu
// -----------

$dd-menu-z-index: 7 !default;
$dd-menu-margin: $rem-sm 0 0 0 !default;
$dd-menu-upwards-margin: 0 0 0.5em !default;
$dd-menu-item-padding: $rem-sm $rem-lg !default;

$dd-menu-sm-width: 185px !default;
$dd-menu-md-width: 300px !default;
$dd-menu-lg-width: 450px !default;
$dd-menu-xl-width: 600px !default;

$dd-menu-sizes: ('sm' $dd-menu-sm-width),  ('md' $dd-menu-md-width),
   ('lg' $dd-menu-lg-width),  ('xl' $dd-menu-xl-width) !default;

$dd-text-color: #000 !default;
$dd-inverse-text-color: #fff !default;
$dd-list-hover-text-color: #000 !default;
$dd-inverse-list-hover-text-color: #fff !default;

$dd-list-color: #fefefe !default;
$dd-inverse-list-color: #2c3e50 !default; // midnight blue

$dd-list-hover-color: #bdc3c7 !default; // silver
$dd-inverse-list-hover-color: #34495e !default; // wet-asphalt

$dd-menu-box-shadow: none !default;

$dd-transition-time: 0.15s !default;
$dd-transition-in: cubic-bezier(0.5, 1.8, 0.9, 0.8) !default;
$dd-transition-out: ease-out !default;
$dd-transitions: (
     ('left' '0 0') ('right' '100% 0') ('center' '50% 0') ('up-left' '0 100%') ('up-center'
          '50% 100%') ('up-right' '100% 100%')
  )
  !default;

$dd-separator-height: 2px !default;
$dd-separator-color: rgba(0, 0, 0, 0.15) !default;
$dd-inverse-separator-color: #45595e !default;
$dd-separator-margin-top: 0.5em !default;
$dd-separator-margin-right: 0 !default;
$dd-separator-margin-bottom: 0.5em !default;
$dd-separator-margin-left: 0 !default;

/* Not really sure why, but the inverse version has a bigger gap */
$nested-dd-padding: 0.5em !default;
$nested-dd-inverse-padding: 0.3em !default;
