@import '~styles/settings/settings';

@keyframes spinner {
  0%{ background-color: rgba(255, 255, 255, 1) }
  100%{ background-color: rgba(255, 255, 255, .2) }
}

.spinner {
  position: relative;
  height: 15px;
  width: 25px;
  &__item {
    background-color: rgba(255, 255, 255, .2);
    height: 6px;
    position: absolute;
    width: 3px;
    border-radius: 6px;
    animation-name: spinner;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    &--1 {
      left: 2px;
      top: 5px;
      transform: rotate(-90deg);
    }
    &--2 {
      left: 4px;
      top: -2px;
      transform: rotate(-45deg);
      animation-delay: .13s;
    }
    &--3 {
      left: 11px;
      top: -5px;
      transform: rotate(0deg);
      animation-delay: .26s;
    }
    &--4 {
      right: 4px;
      top: -2px;
      transform: rotate(45deg);
      animation-delay: .39s;
    }
    &--5 {
      right: 2px;
      top: 5px;
      transform: rotate(90deg);
      animation-delay: .52s;
    }
    &--6 {
      right: 4px;
      bottom: -3px;
      transform: rotate(135deg);
      animation-delay: .65s;
    }
    &--7 {
      bottom: -5px;
      left: 11px;
      transform: rotate(180deg);
      animation-delay: 1.78s;
    }
    &--8 {
      left: 4px;
      bottom: -3px;
      transform: rotate(-135deg);
      animation-delay: .91s;
    }
  }
}
