<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
  <staticContent>
  <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
   <mimeMap fileExtension=".unityweb" mimeType="application/octet-stream" />
   <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
  <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript; charset=UTF-8" />
  <mimeMap fileExtension=".json" mimeType="application/x-javascript; charset=UTF-8" />
  
  <mimeMap fileExtension=".json" mimeType="application/x-javascript; charset=UTF-8" />

      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />

      
      <remove fileExtension=".otf" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".otf" mimeType="application/x-font-otf" />
  </staticContent>
    </system.webServer>
</configuration>